{% set pmconfig = {
    'message_type': 'Messaging'
    }
%}

<script type="text/javascript">

jQuery(document).ready(function() {
    $( "#createpm" ).dialog({
      autoOpen: false,
      height: 300,
      width: 400,
      modal: true
    });
});

function createPmMessage() {
    $( "#createpm" ).dialog("open");
    return false;
}

function submitPmMessageForm() {

    formdata = $( "#createpmform" ).serialize();
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        type: "POST",
        url: "{{ path('message_create', { 'access': 'ajax' }) }}",
        data: $( "#createpmform" ).serialize(),
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            alert("Message sent, thank you.");
            $( "#createpm" ).dialog("close");
      }).fail(function(xhr, status, error) {
            errmsg = "Message sending failed\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

</script>

<script>
$( function() {
$( "#message_data_to" ).autocomplete({
  source: "{{ path('user_search', {'access': 'ajax'}) }}",
  minlength: 4,
  select: function( event, ui ) {
    $( "#message_data_to" ).val(ui.item.value);
    $( "#message_data_body" ).focus();
  }
});
} );
</script>

<div id="createpm" title="Create and send a PM">
{% set pmform = sakonnin.getCreateForm({'message_data': pmconfig, 'create_view': true}) %}
<form id="createpmform" method="POST" action="{{ path('message_create', { 'access': 'ajax' }) }}" onSubmit="return submitPmMessageForm();">
<input id="message_type" type="hidden" name="message_data[message_type]" value="39">
<input id="message_type_parent" type="hidden" name="message_type" value="Messaging">
<input id="userid" type="hidden" name="userid">
{{ form_row(pmform.subject)}} 
{{ form_row(pmform.to)}} 
{{ form_row(pmform.body)}} 
{{ form_row(pmform.submit)}} 
{{ form_row(pmform._token)}} 
</div>
</form>
