{#
   The big question is, do we check if the user is logged in here, or should that be done in the twig templatye including this?
   For now, I vote the including template.
 #}
<script type="text/javascript">
function createPmMessage() {
    $( "#createpm" ).dialog("open");
    return false;
}

function checkUnread() {
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        type: "GET",
        url: "{{ path('check_unread', { 'access': 'ajax' }) }}",
        dataType: "json",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
          if (cont['amount'] > 0) {
              $( "#message_menu" ).children().css("color","red");
              $( "#message_menu .dropdown-toggle" ).append("("+cont['amount']+")");
              $( "#menu_unread" ).show();
          } else {
            setTimeout ( "checkUnread()", 60000 );
          }
      });
    return false;
}

function submitPmMessageForm(pmform, in_reply_to) {
    pmform = "#" + pmform;
    formdata = $( pmform ).serialize();
    url = "{{ path('pm_create', { 'access': 'ajax' }) }}";
    if (in_reply_to) {
        url = url + "?in_reply_to=" + in_reply_to;
    }
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        type: "POST",
        url: url,
        data: formdata,
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            $( "#createpm" ).dialog("close");
            $( ".pm_reply" ).hide();
      }).fail(function(xhr, status, error) {
            errmsg = "Message sending failed\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

jQuery(document).ready(function() {
    $( "#createpm" ).dialog({
      autoOpen: false,
      height: 370,
      width: 500,
      modal: true
    });
    $( "#createpmform #to" ).val("");
    $( "#createpmform #to_userid" ).val("");
    $( "#createpmform #body" ).val("");
    checkUnread();
});

</script>

<script>
{# TODO: Gotta make this optional or configurable. Right now it uses my commonbundle, which kinda is OK since I use it for more here, but not everyone wants to use if for user stuff.#}
$( function() {
$( "#createpmform #to" ).autocomplete({
  source: "{{ path('user_search', {'access': 'ajax'}) }}",
  minlength: 4,
  select: function( event, ui ) {
    $( "#createpmform #to" ).val(ui.item.value);
    $( "#createpmform #to_userid" ).val(ui.item.userid);
    $( "#createpmform #body" ).focus();
  }
 });
} );
</script>

<div id="createpm" title="Write a PM">
 {# Gotta remember to add some way to send "in_reply_to" here. #}
 {% set pmform = sakonnin.getCreatePmForm({'create_view': true}) %}
 <form id="createpmform" method="POST" action="{{ path('pm_create', { 'access': 'ajax' }) }}" onSubmit="return submitPmMessageForm('createpmform', null);">
  <input type="hidden" name="to_userid" id="to_userid">
  <input type="hidden" name="message_type" id="pmmessage_type" value="PM">
  {{ form_row(pmform.to)}} 
  {{ form_row(pmform.body)}} 
  {{ form_row(pmform.submit)}} 
  {{ form_row(pmform._token)}} 
 </form>
</div>
