{% if sfconfig.formname is defined %}
{% set formname = sfconfig.formname %}
{% else %}
{% set formname = "" %}
{% endif %}
<script type="text/javascript">

function uploadFile(formname = '') {
    $( "#uploadfile" + formname ).modal();
}

function submitFileForm(formname = '') {
    var formData = new FormData(document.querySelector('form#uploadfileform' + formname));
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        type: "POST",
        url: "{{ path('file_new', { 'access': 'ajax' }) }}",
        data: formData,
        processData: false,
        contentType: false,
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            $( "#uploadfile" + formname ).modal("hide");
{% if sfconfig.reload_after_post is defined and sfconfig.reload_after_post %}
            parent.location.reload();
{% endif %}
      }).fail(function(xhr, status, error) {
            errmsg = "File sending failed\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

</script>
{% set title = "Add File" %}

<div class="modal fade" id="uploadfile{{ formname }}" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div class="modal-body">
        {% set sfform = sakonnin_files.getUploadForm({'file_data': sfconfig, 'file_context': sfconfig.context, 'create_view': true, 'formname': formname }) %}
        <form id="uploadfileform{{ formname }}" method="POST" enctype="multipart/form-data" onSubmit="return submitFileForm('{{ formname }}');">
        {% if sfconfig.context is defined %}
        <input id="system" type="hidden" name="file_context[system]" value="{{sfconfig.context.system}}">
        <input id="object_name" type="hidden" name="file_context[object_name]" value="{{sfconfig.context.object_name}}">
        <input id="external_id" type="hidden" name="file_context[external_id]" value="{{sfconfig.context.external_id}}">
        {% endif %}
        {{ form_widget(sfform.file)}} 
        {{ form_row(sfform.description)}}
        {{ form_row(sfform.file_type)}} 
        {{ form_end(sfform)}}
        </form>
      </div>
    </div>
  </div>
</div>
