{% if sfconfig.formname is defined %}
{% set formname = sfconfig.formname %}
{% else %}
{% set formname = "" %}
{% endif %}
{% if sfconfig.reload_after_post is defined and sfconfig.reload_after_post %}
{% set reload = "true" %}
{% else %}
{% set reload = "false" %}
{% endif %}

{% if sfconfig.tags is defined and sfconfig.tags %}
<script>
$(document).ready(function() {

document
  .querySelectorAll('.add_tag_link')
  .forEach(btn => btn.addEventListener("click", addFormToCollection));

});

</script>
{% endif %}

<div class="modal fade" id="uploadfile{{ formname }}" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ sfconfig.title | default("Add File") }}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        {% set sfform = sakonnin_files.getUploadForm({'file_data': sfconfig, 'file_context': sfconfig.context, 'create_view': true, 'formname': formname }) %}
        <form id="uploadfileform{{ formname }}" method="POST" enctype="multipart/form-data" onSubmit="return submitSakonninFileForm('{{ formname }}', {{ reload }});">
            {% if sfconfig.context is defined %}
            <input id="system{{formname}}" type="hidden" name="file_context[system]" value="{{sfconfig.context.system}}">
            <input id="object_name{{formname}}" type="hidden" name="file_context[object_name]" value="{{sfconfig.context.object_name}}">
            <input id="external_id{{formname}}" type="hidden" name="file_context[external_id]" value="{{sfconfig.context.external_id}}">
            {% endif %}
            {{ form_widget(sfform.file, {'id': sfform.file.vars.id ~ formname })}}
            {{ form_row(sfform.description, {'id': sfform.description.vars.id ~ formname })}}
{% if tags is defined and tags %}
            <ul id=filetags_list" class="tags" data-prototype="{{ form_widget(sfform.tags.vars.prototype)|e('html_attr') }}">
            </ul>
            <button type="button" class="add_tag_link" data-collection-holder-class="tags">Add a tag</button>
{% endif %}
            {{ form_row(sfform.file_type, {'id': sfform.file_type.vars.id ~ formname })}}
        <input type="submit" form="uploadfileform{{ formname }}" name="sendfile" value="Send"/>
       {{ form_rest(sfform)}}
       </form><!-- End upload file form -->
      </div>
    </div>
  </div>
</div>
