{% if sfconfig.formname is defined %}
{% set formname = sfconfig.formname %}
{% else %}
{% set formname = "" %}
{% endif %}
{% if sfconfig.reload_after_post is defined and sfconfig.reload_after_post %}
{% set reload = "true" %}
{% else %}
{% set reload = "false" %}
{% endif %}

{% set title = "Add File" %}
<div class="modal fade" id="uploadfile{{ formname }}" role="dialog" tabindex="-1">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div class="modal-body">
        {% set sfform = sakonnin_files.getUploadForm({'file_data': sfconfig, 'file_context': sfconfig.context, 'create_view': true, 'formname': formname }) %}
        <form id="uploadfileform{{ formname }}" method="POST" enctype="multipart/form-data" onSubmit="return submitFileForm('{{ formname }}', {{ reload }});">
            {% if sfconfig.context is defined %}
            <input id="system{{formname}}" type="hidden" name="file_context[system]" value="{{sfconfig.context.system}}">
            <input id="object_name{{formname}}" type="hidden" name="file_context[object_name]" value="{{sfconfig.context.object_name}}">
            <input id="external_id{{formname}}" type="hidden" name="file_context[external_id]" value="{{sfconfig.context.external_id}}">
            {% endif %}
            {{ form_widget(sfform.file, {'id': sfform.file.vars.id ~ formname })}}
            {{ form_row(sfform.description, {'id': sfform.description.vars.id ~ formname })}}
            {{ form_row(sfform.file_type, {'id': sfform.file_type.vars.id ~ formname })}}
            {{ form_widget(sfform.submit, {'id': sfform.submit.vars.id ~ formname })}} 
            {{ form_widget(sfform._token, {'id': sfform._token.vars.id ~ formname })}} 
       {{ form_rest(sfform)}}
      </div>
    </div>
  </div>
</div>
