{% extends 'base.html.twig' %}

{% block body %}
    <h1>File</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ file.fileid }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ file.name }}</td>
            </tr>
            <tr>
                <th>Fileid</th>
                <td>{{ file.fileId }}</td>
            </tr>
            <tr>
                <th>Mimetype</th>
                <td>{{ file.mimetype }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('file_edit', { 'file_id': file.fileid }) }}">
            <button class="btn-small btn-primary">Edit</button>
            </a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <button type="submit" class="btn-small btn-danger">Delete</button>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
