{% extends '@BisonLabSakonnin/base.html.twig' %}

{% block body -%}
    <h1>Message Types</h1>

    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th>Group</th>
                <th>Name</th>
                <th>Description</th>
                <th>Callback function</th>
                <th>Forward function</th>
                <th>Security model</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {% if entity.parent  is empty %}
                <td><strong><a href="{{ path('messagetype_show', { 'id': entity.id }) }}">{{ entity.name }}:</a></strong></td>
                <td>&nbsp;</td>
                {% else %}
                <td>&nbsp;</td>
                <td><a href="{{ path('messagetype_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                {% endif %}
                <td>{{ entity.description }}</td>
                <td>{{ entity.callbackFunction }}</td>
                <td>{{ entity.forwardFunction }}</td>
                <td>{{ entity.securitymodellabel }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('messagetype_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('messagetype_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('messagetype_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
