{% extends '@BisonLabSakonnin/base.html.twig' %}

{% block body -%}
    <h1>MessageType</h1>

    <table class="sakonnin_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Base type</th>
                <td>{{ entity.basetype }}</td>
            </tr>
            <tr>
                <th>First set state</th>
                <td>{{ entity.firststate }}</td>
            </tr>
            <tr>
                <th>Security model</th>
                <td>{{ entity.securitymodel }}</td>
            </tr>
{% if entity.sakonnintemplate is not null %}
            <tr>
                <th>Template</th>
                <td>{{ entity.sakonnintemplate }}</td>
            </tr>
{% endif %}
            <tr>
                <th>Callbackfunction</th>
                <td>{{ entity.callbackFunction  }}</td>
            </tr>
            <tr>
                <th>Callback attributes</th>
                <td>{% for attr in entity.callbackAttributes %}{{ attr }}<br />{%endfor%}</td>
            </tr>
            <tr>
                <th>Forwardfunction</th>
                <td>{{ entity.forwardFunction }}</td>
            </tr>
            <tr>
                <th>Forward attributes</th>
                <td>{% for attr in entity.forwardAttributes %}{{ attr }}<br />{%endfor %}</td>
            </tr>
            <tr>
                <th>Expunge, in days.<br>0 means never delete.</th>
                {% if entity.parent %}
                <td>{{ entity.expungedays }}</td>
                {% else %}
                <td>N/A - This is set on the types, not group.</td>
                {% endif %}
            </tr>
            <tr>
                <th>Expunge method.</th>
                {% if entity.parent %}
                <td>{{ entity.expungemethod }}</td>
                {% else %}
                <td>N/A - This is set on the types, not group.</td>
                {% endif %}
            </tr>
            <tr>
                <th>Expire method.</th>
                {% if entity.parent %}
                <td>{{ entity.expiremethod }}</td>
                {% else %}
                <td>N/A - This is set on the types, not group.</td>
                {% endif %}
            </tr>
{% if entity.children | length > 0 %}
            <tr>
                <th>Children</th>
                <td><ul>
                {% for child in entity.children %}
                    <li>{{ child.name }}</li>
                {% endfor %}
                </ul></td>
            </tr>
{% endif %}
        </tbody>
    </table>
<ul class="sakonnin_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('messagetype_edit', { 'id': entity.id }) }}">Edit</a>
    </li>
    <li>{{ form(delete_form) }}</li>
    <li>
        <a href="{{ path('messagetype') }}">Back to list</a>
    </li>
</ul>
{% endblock %}
