{% if mconfig.formname is defined %}
{% set formname = mconfig.formname %}
{% else %}
{% set formname = "" %}
{% endif %}

{% set title = "Check" %}
{% if mconfig.title is defined %}
    {% set title = mconfig.title %}
{% elseif mconfig.message_type is defined %}
    {% set title = mconfig.message_type %}
{% endif %}
{% if mconfig.context is defined %}
    {% set context = mconfig.context %}
{% else %}
    {% set context = null %}
{% endif %}

<div class="modal fade" id="createcheck{{ formname }}" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
        <button type="button" class="close" data-dismiss="modal"><span class="fas fa-times-circle"></span></button>
      </div>
      <div class="modal-body">
        {% set mform = sakonnin_messages.getCreateForm({'message_data': mconfig, 'message_context': context, 'create_view': true, 'formname': formname }) %}

{% if mconfig.reload_after_post is defined and mconfig.reload_after_post %}
{% set reload = "true" %}
{% else %}
{% set reload = "false" %}
{% endif %}
        <form id="createcheckform{{formname}}" method="POST" action="{{ path('message_create', { 'access': 'ajax' }) }}" onSubmit="return submitSakonninCheckForm('{{ formname }}', {{ reload }});">
        {% if context is not null %}
            <input id="system{{formname}}" type="hidden" name="message_context[system]" value="{{context.system}}">
            <input id="object_name{{formname}}" type="hidden" name="message_context[object_name]" value="{{context.object_name}}">
            <input id="external_id{{formname}}" type="hidden" name="message_context[external_id]" value="{{context.external_id}}">
        {% endif %}
        {{ form_row(mform.body, {'id': mform.body.vars.id ~ formname })}}
        {{ form_row(mform.message_type, {'id': mform.message_type.vars.id ~ formname })}}
        {% if mconfig.expire_field is defined and mconfig.expire_field %}
            {{ form_row(mform.expire_at, {'id': mform.expire_at.vars.id ~ formname })}}
        {% endif %}
        {% if mconfig.submit is defined %}
            <input type="submit" name="submit" value="{{ mconfig.submit }}">
        {% else %}
            {{ form_widget(mform.submit, {'id': mform.submit.vars.id ~ formname })}}
        {% endif %}
        {{ form_widget(mform._token, {'id': mform._token.vars.id ~ formname })}} 
        </form>
    </div>
  </div>
 </div>
</div>
