{% extends '@BisonLabSakonnin/base.html.twig' %}

{% block body -%}
    <h1>Message list</h1>
<script>
$(document).ready(function() {
    $('#message_list').DataTable( {
        "pageLength": 200,
        "order": [[ 6, "desc" ]],
        "lengthMenu": [[ 50, 100, 200, 500 -1], [50, 100, 200, 500, "All"]]
    } );
} );
</script>
    <table class="sakonnin_list" id="message_list">
        <thead>
            <tr>
                <th>From me</th>
                <th>To me</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
          {% if is_granted('show', entity) %}
            <tr>
                <td>{{ entity.subject }}
                {% if entity.replies %}
                {% for reply in entity.replies %}
                  <br />reply:<a href="{{ path('message_show', { 'message_id': reply.messageid }) }}">{{ reply.subject }}</a>
                {% endfor %}
                {% endif %}
                </td>
                <td>{% if entity.fromtype == "INTERNAL" %}{{ sakonnin_messages.getusernamefromuserid(entity.from) }}{% else %}{{ entity.from }}{% endif %}</td>
                <td>{% if entity.totype == "INTERNAL" %}{{ sakonnin_messages.getusernamefromuserid(entity.to) }}{% else %}{{ entity.to }}{% endif %}</td>
                <td>{{ entity.state }}</td>
                <td><a href="{{ path('message_show', { 'message_id': entity.messageid }) }}">{{ entity.messageid }}</a></td>
                <td>{{ entity.messagetype.parent }} - {{ entity.messagetype }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('message_show', { 'message_id': entity.messageid }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
