{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sakonnintemplate edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Save" />
    {{ form_end(edit_form) }}
    <a  href="{{ path('sakonnintemplate_show', { 'id': sakonninTemplate.id }) }}">
    <button>Cancel</button>
    </a>
    {% if sakonninTemplate.deleteable %}
    {{ include('@BisonLabSakonnin/SakonninTemplate/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
