
{% if entities is not defined and data is defined %}
{% set entities = data %}
{% endif %}
    {% for entity in entities if is_granted('show', entity)%}
    <table style="border-spacing: 10px;" id="message_list">
        <tbody>
        {% if not entity.inreplyto %}
        <tr>
            <th valign="top">Subject:</th>
            <td valign="top">
              <a href="{{ path('message_show', { 'id': entity.id }) }}">{{ entity.subject }}</a>
            </td>
            <td rowspan="5">
            <pre>
            {{ entity.body }}
            </pre>
            </td>
        </tr>
        <tr>
{% if entity.from %}
            <th valign="top">From:</th>
            <td valign="top">{% if entity.fromtype == "INTERNAL" %}{{ sakonnin.getusernamefromuserid(entity.from) }}{% else %}{{ entity.from }}{% endif %}</td>
            <td>
{% elseif entity.createdby %}
            <th valign="top">From:</th>
            <td valign="top">{{ entity.createdby }}</td>
            <td>
{% else %}
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
{% endif %}
        </tr>
{% if entity.to %}
        <tr>
            <th valign="top">To:</th>
            <td valign="top">{% if entity.totype == "INTERNAL" %}{{ sakonnin.getusernamefromuserid(entity.to) }}{% else %}{{ entity.to }}{% endif %}</td>
        </tr>
{% endif %}
        <tr>
            <th valign="top">Time:</th>
            <td valign="top">{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
{% if entity.replies %}
        <td valign="top">
         {% for reply in entity.replies %}
              <br />reply:<a href="{{ path('message_show', { 'id': reply.id }) }}">{{ reply.subject }}</a>
         {% endfor %}
        </td>
{% endif %}
        </tr>
        {% endif %}
        </tbody>
    </table>
    <hr>
    {% endfor %}
