{% if entities is not defined and data is defined %}
{% set entities = data %}
{% endif %}

{% if entities | length == 0 %}
<p>You've got zilch.</p>
{% else %}
{% for message in entities if is_granted('show', message) %}
<div id="sakonninmessage_{{ message.id}}">
  <hr>
  <div class="row">
      <div class="col-sm-5">
        <table class="messageTable">
          <tr>
            <th valign="top">Subject:</th>
            <td valign="top">
              {{ message.subject }}
            </td>
          </tr>
          <tr>
{% if message.from %}
            <th valign="top">From:</th>
            <td valign="top">{% if message.fromtype == "INTERNAL" %}{{ sakonnin_messages.getusernamefromuserid(message.from) }}{% else %}{{ message.from }}{% endif %}</td>
            <td>
{% elseif message.createdby %}
            <th valign="top">From:</th>
            <td valign="top">{{ message.createdby }}</td>
            <td>
{% else %}
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
{% endif %}
        </tr>
{% if message.to %}
        <tr>
            <th valign="top">To:</th>
            <td valign="top">{% if message.totype == "INTERNAL" %}{{ sakonnin_messages.getusernamefromuserid(message.to) }}{% else %}{{ message.to }}{% endif %}</td>
        </tr>
{% endif %}
        <tr>
            <th valign="top">Time:</th>
            <td valign="top">{% if message.createdAt %}{{ message.createdAt|date('Y-m-d H:i') }}{% endif %}</td>
        </tr>
  </table>
  </div>

  <div class="col-sm-6 ">
  {% if message.basetype == 'CHECK' %}
    {# OK, are we checked or not? #}
    {% set checked = false %}
    {% set last_reply = message.replies | last %}

    {% if last_reply %}
        {% if last_reply.state == "CHECKED" %}
            {% set checked = true %}
        {% else %}
            {% set checked = false %}
        {% endif %}
    {% endif %}
    {% if checked %}
      <span class="glyphicon glyphicon-check" title="Checked"></span> <em>{{ last_reply.createdAt | date('Y-m-d H:i') }} - {{ last_reply.createdBy }}</em>
    {% else %}
      <span class="glyphicon glyphicon-unchecked" title="Unchecked"></span>
    {% endif %}
    <br>
  {% endif %}
{# Pretty dangerous #}
{# TODO: Add markdown #}
{% if message.contenttype == 'text/html' %}
{{ message.body | raw }}
{% else %}
<pre class="messageText">
{{ message.body }}
</pre>
{% endif %}

  </div>
  <div class="col-sm-1" align="right">
{% if is_granted('edit', message) %}
    <a href="#" onClick="return grabEditMessageForm({{ message.id }});"><span class="glyphicon glyphicon-pencil"></span></a>
    {% set mdelform = sakonnin_messages.getCreateDeleteForm(message, true) %}
    <form method="POST" action="{{ path('message_delete', { 'id': message.id, 'access': 'web' }) }}">
    {{ form_start(mdelform) }}
    {{ form_rest(mdelform) }}
    <button type="submit" class="btn btn-link">
    <span class="glyphicon glyphicon-trash"></span>
    </button>
    </form>
    {# The option to de-archive a message. Not really sure it makes sense to have at all. #}
    {% if message.state == "ARCHIVED" %}
        <a href="#" onClick="return setStateOnMessage({{ message.id }}, '{{ message.firststate }}', true);" title="De-archive"><span class="glyphicon glyphicon-open-file"></span></a>
    {% endif %}
{% endif %}
 </div>

</div>

</div>
{% endfor %}

{% endif %}
