{% set pmconfig = {
    'to_field': false,
    'from_field': app.user.username,
    'message_type': 'Feedback',
    'context': {
        'system': 'sakonnin',
        'object_name': 'user',
        'external_id':app.user.id
        }
    }
%}

<script type="text/javascript">

jQuery(document).ready(function() {
    $( "#createpm" ).dialog({
      autoOpen: false,
      height: 300,
      width: 400,
      modal: true
    });
});

function createMessage() {
    $( "#createpm" ).dialog("open");
    return false;
}

function submitMessageForm() {

    formdata = $( "#createpmform" ).serialize();
    $.ajax({
        beforeSend: function(req) {
          req.setRequestHeader("Accept", "application/json");
        },
        type: "POST",
        url: "{{ path('message_create', { 'access': 'ajax' }) }}",
        data: $( "#createpmform" ).serialize(),
        dataType: "text",
        async: true,
      }).done( function( cont, textStatus, xhr ) {
            alert("Message sent, thank you.");
            $( "#createpm" ).dialog("close");
      }).fail(function(xhr, status, error) {
            errmsg = "Message sending failed\n";
            errmsg = errmsg + xhr.responseText + "\n";
            alert(errmsg);
    });
    return false;
}

</script>

<div id="createpm" title="Create and send a Message">
{% set pmform = sakonnin.getCreateForm({'message_data': pmconfig, 'message_context': pmconfig.context, 'create_view': true}) %}
<form id="createpmform" method="POST" action="{{ path('message_create', { 'access': 'ajax' }) }}" onSubmit="return submitMessageForm();">
{% if pmconfig.message_type is defined %}
<input id="message_type" type="hidden" name="message_type" value="{{pmconfig.message_type}}">
{% endif %}
{% if pmconfig.context is defined %}
<input id="system" type="hidden" name="message_context[system]" value="{{pmconfig.context.system}}">
<input id="object_name" type="hidden" name="message_context[object_name]" value="{{pmconfig.context.object_name}}">
<input id="external_id" type="hidden" name="message_context[external_id]" value="{{pmconfig.context.external_id}}">
{% endif %}
{{ form_row(pmform.subject)}} 
{% if pmconfig.from_field %}
{{ form_row(pmform.from)}} 
{% endif %}
{% if pmconfig.to_field %}
{{ form_row(pmform.to)}} 
{% endif %}
{{ form_row(pmform.body)}} 
{{ form_row(pmform.message_type)}} 
{{ form_row(pmform.submit)}} 
{{ form_row(pmform._token)}} 
</div>
</form>

{% include 'BisonlabSakonninBundle::scripts.html.twig' %}
<strong>Messages for {{ app.user.username }}:</strong>
