<table style="border-spacing: 10px;" id="message_list">
    <thead>
    <tr><th>From</th><th>&nbsp;</th><th>Me</th>{#<th>&nbsp;</th>#}
    </thead>
    <tbody>
{% if entities is not defined and data is defined %}
{% set entities = data.messages %}
{% set unread_starts_at = data.unread_starts_at %}
{% endif %}
  {% set formcount = 0 %}
  {% for entity in entities %}
    {% if is_granted('show', entity)%}
      {% if entity.id == unread_starts_at %}
        <div id="unread_starts">
        <tr><td><strong>Unread messages:</td></tr>
        </div>
      {% endif %}
        
      {% set formcount = formcount + 1 %}
      {% if entity.from and entity.from == app.user.id %}
          {% set me = true %}
      {% else %}
          {% set me = false %}
      {% endif %}
      <tr>
     {% if not entity.inreplyto %}
        {% if me %}
        <td>&nbsp;</td>
        {% endif %}

        <td valign="top" colspan="2">
        {% if entity.subject %}
              <a href="{{ path('message_show', { 'id': entity.id }) }}">{{ entity.subject }}</a>
        {% endif %}
        <sub>
        {% if entity.from and entity.from != app.user.id %}
           From: <strong>{% if entity.fromtype == "INTERNAL" %}{{ sakonnin_messages.getusernamefromuserid(entity.from) }}{% else %}{{ entity.from }}{% endif %}</strong>
        {% endif %}
        {% if entity.to and entity.to != app.user.id%}
            To: <strong>{% if entity.totype == "INTERNAL" %}{{ sakonnin_messages.getusernamefromuserid(entity.to) }}{% else %}{{ entity.to }}{% endif %} </strong>
        {% endif %}
        {% if entity.createdAt %}
           {{ entity.createdAt|date('Y-m-d H:i:s') }}<br />
        {% endif %}
        </sub>
            {% if entity.contenttype == 'text/html' %}
            {{ entity.body | raw }}
            {% else %}
            <pre>
            {{ entity.body }}
            </pre>
            {% endif %}
{% if not me %}
<a href="#" onClick="openReply({{ formcount }});">Reply</a>
<div class="pm_reply" id="createreply_{{ formcount }}" title="Reply">
 {# Gotta remember to add some way to send "in_reply_to" here. 
 {% set pmform = sakonnin_messages.getCreatePmForm({'create_view': true}) %}
 #}
 {% set rpform = sakonnin_messages.getCreatePmForm({'create_view': true}) %}
 <form id="createpmform_{{ formcount }}" method="POST" action="{{ path('pm_create', { 'access': 'ajax', 'in_reply_to': entity.messageid }) }}" onSubmit="return submitPmMessageForm('createpmform_{{ formcount }}', '{{ entity.messageid }}');">
  <input type="hidden" name="to_userid" value="{{entity.from}}">
  <input type="hidden" name="message_type" id="pmmessage_type" value="PM">
  <input type="textarea" name="body">
  <input type="submit" value="Send">
  {{ form_row(rpform._token)}} 
 </form>
</div>
{% endif %}
{% if entity.replies.count > 0 %}
        <br /><sub>Replies:</sub>
        <ul>
         {% for reply in entity.replies %}
            {% if reply.createdAt %}
               {% set rtime = reply.createdAt|date('Y-m-d H:i:s') %}<br />
            {% endif %}
            {% if reply.from and reply.from == app.user.id %}
            <sub><b>From me</b> {{ rtime }}</sub>
            {% else %}
            <sub><b>To me {{ rtime }}</b></sub>
            {% endif %}
            {% if reply.contenttype == 'text/html' %}
            {{ reply.body | raw }}
            {% else %}
            <pre>
            {{ reply.body }}
            </pre>
            {% endif %}
         {% endfor %}
        </ul>
{% endif %}
    {% endif %}
   {% endif %}
  {% endfor %}
    </tbody>
</table>
<div id="ends_here">
</div>

<script>

function openReply(formcount) {
    $( "#createreply_" + formcount ).show();
    return false;
}

jQuery(document).ready(function() {
    $( ".pm_reply" ).hide();
    {% if unread_starts_at is not null %}
        $( "#unread_starts" )[0].scrollIntoView();
    {% else %}
        $( "#ends_here" )[0].scrollIntoView();
    {% endif %}
});

</script>
