<div id="sakonninmessage_{{ entity.id}}">
  <div class="row">
      <div class="col-sm-5">
        <table class="messageTable">
          <tr>
            <th valign="top">Subject:</th>
            <td valign="top">
              {{ entity.subject }}
            </td>
          </tr>
          <tr>
{% if entity.from %}
            <th valign="top">From:</th>
            <td valign="top">{% if entity.fromtype == "INTERNAL" %}{{ sakonnin_messages.getusernamefromuserid(entity.from) }}{% else %}{{ entity.from }}{% endif %}</td>
            <td>
{% elseif entity.createdby %}
            <th valign="top">From:</th>
            <td valign="top">{{ entity.createdby }}</td>
            <td>
{% else %}
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
{% endif %}
        </tr>
{% if entity.to %}
        <tr>
            <th valign="top">To:</th>
            <td valign="top">{% if entity.totype == "INTERNAL" %}{{ sakonnin_messages.getusernamefromuserid(entity.to) }}{% else %}{{ entity.to }}{% endif %}</td>
        </tr>
{% endif %}
        <tr>
            <th valign="top">Time:</th>
            <td valign="top">{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i') }}{% endif %}</td>
        </tr>
          <tr>
            <th valign="top">Type:</th>
            <td valign="top">
                <a href="#" title="{{ entity.messagetype.description }}">{{ entity.messagetype }}</a>
            </td>
          </tr>
  </table>
  </div>

  <div class="col-sm-6 ">
  {% if entity.basetype == 'CHECK' %}
    {# OK, are we checked or not? #}
    {% set checked = false %}
    {% set last_reply = entity.replies | last %}

    {% if last_reply %}
        {% if last_reply.state == "CHECKED" %}
            {% set checked = true %}
        {% else %}
            {% set checked = false %}
        {% endif %}
    {% endif %}
    {% if checked %}
      <span class="glyphicon glyphicon-check" title="Checked"></span> <em>{{ last_reply.createdAt | date('Y-m-d H:i') }} - {{ last_reply.createdBy }}</em>
    {% else %}
      <span class="glyphicon glyphicon-unchecked" title="Unchecked"></span>
    {% endif %}
    <br>
  {% endif %}
{# Pretty dangerous #}
{# TODO: Add markdown #}
{% if entity.contenttype == 'text/html' %}
{{ entity.body | raw }}
{% else %}
<pre class="messageText">
{{ entity.body }}
</pre>
{% endif %}

  </div>
  <div class="col-sm-1" align="right">
{% if is_granted('edit', entity) %}
    <div class="dropdown">
      <button class="glyphicon glyphicon-menu-hamburger" id='actionburger' type="button" data-toggle="dropdown">
      <span></span>
      </button>
    <ul class="dropdown-menu dropdown-menu-right">
    <li>
         <a href="#" onClick='return grabEditMessageForm({{ entity.id }});'>Edit</a>
    </li>
<div class="hidden">
    {% set mdelform = sakonnin_messages.getCreateDeleteForm(entity, true) %}
    <form method="POST" action="{{ path('message_delete', { 'id': entity.id, 'access': 'web' }) }}">
    {{ form_start(mdelform) }}
    {{ form_rest(mdelform) }}
    <input id="delarchived_{{ entity.id }}" type="submit">
    </form>
</div>
    <li>
        <a href="#" onClick='return $("#delarchived_{{ entity.id }}").click();'>Delete</a>
    </li>
    {# The option to de-archive a entity. Not really sure it makes sense to have at all. #}
    {% if entity.state == "ARCHIVED" %}
    <li>
        <a href="#" onClick="return setStateOnMessage({{ entity.id }}, '{{ entity.firststate }}', true);">Unarchive</a>
    </li>
    {% endif %}
    </ul>
  </div>
{% endif %}
 </div>

</div>
</div>
