<div id="sakonninmessage_{{ entity.messageid}}">
  <div class="row">
      <div class="col-sm-4">
        <table class="messageTable">
          <tr>
            <th valign="top">Subject:</th>
            <td valign="top">
              {{ entity.subject }}
            </td>
          </tr>
          <tr>
{% if entity.from %}
            <th valign="top">From:</th>
            <td valign="top">{% if entity.fromtype == "INTERNAL" %}{{ sakonnin_messages.getusernamefromuserid(entity.from) }}{% else %}{{ entity.from }}{% endif %}</td>
            <td>
{% elseif entity.createdby %}
            <th valign="top">From:</th>
            <td valign="top">{{ entity.createdby }}</td>
            <td>
{% else %}
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
{% endif %}
        </tr>
{% if entity.to %}
        <tr>
            <th valign="top">To:</th>
            <td valign="top">{% if entity.totype == "INTERNAL" %}{{ sakonnin_messages.getusernamefromuserid(entity.to) }}{% else %}{{ entity.to }}{% endif %}</td>
        </tr>
{% endif %}
        <tr>
            <th valign="top">Time:</th>
            <td valign="top">{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i') }}{% endif %}</td>
        </tr>
          <tr>
            <th valign="top">Type:</th>
            <td valign="top">
                <a href="#" title="{{ entity.messagetype.description }}">{{ entity.messagetype }}</a>
            </td>
          </tr>
{% if entity.replies | length > 0 %}
          <tr>
            <th valign="top">Replies:</th>
            <td valign="top">
                {% for reply in entity.replies %}
                  <a href="{{ path('message_show', { 'message_id': reply.messageid }) }}">{{ reply.subject }}</a><br>
                {% endfor %}
            </td>
          </tr>
{% endif %}
  </table>
  </div>

  <div class="col-sm-6 ">
  {% if entity.basetype == 'CHECK' %}
    {# OK, are we checked or not? #}
    {% set checked = false %}
    {% set last_reply = entity.replies | last %}

    {% if last_reply %}
        {% if last_reply.state == "CHECKED" %}
            {% set checked = true %}
        {% else %}
            {% set checked = false %}
        {% endif %}
    {% endif %}
    {% if checked %}
      <span class="fas fa-check" title="Checked"></span> <em>{{ last_reply.createdAt | date('Y-m-d H:i') }} - {{ last_reply.createdBy }}</em>
    {% else %}
      <span class="fas fa-unchecked" title="Unchecked"></span>
    {% endif %}
    <br>
  {% endif %}
{# Pretty dangerous #}
{% if entity.contenttype == 'text/html' %}
<div class="messageText">
{{ entity.body | raw }}
</div>
{# If you save it as markdown, you'd better have the bundle installed for viewing it. #}
{% elseif entity.contenttype == 'text/markdown' %}
<div class="messageText">
{{ entity.body | markdown }}
</div>
{% else %}
<pre class="messageText" wrap>
{{ entity.body }}
</pre>
{% endif %}

  </div>
  <div class="col-sm-1">
{# TODO: separate edit and delete #}
{% if is_granted('edit', entity) %}
    {% set mdelform = sakonnin_messages.getCreateDeleteForm(entity, true) %}
    <form id="deletemessageform_{{ entity.messageid }}" onSubmit="return deleteSakonninMessage('{{ entity.messageid }}');">
    {{ form_rest(mdelform) }}
        {% if entity.editable %}
        <a href="#" onClick="return grabEditSakonninMessageForm('{{ note.messageid }}');"><button class="btn btn-link edit_glyph"></button></a>
        {% endif %}
    {# Should use message.deleteable here. Reason I don't is that it needs to use the security model, voter and tags on message type. Which must be a TODO #}
        <button id="delarchived_{{ entity.messageid }}" type="submit" class="btn btn-link remove_glyph"></button>
    </form>
  </div>
{% endif %}
 </div>
<hr>
</div>
