<div id="sakonninmessage_{{ entity.messageid}}">
  <div class="row">
      <div class="col-sm-4">
        <table class="messageTable">
          <tr>
            <th valign="top">Subject:</th>
            <td valign="top">
              {{ entity.subject }}
            </td>
          </tr>
          <tr>
{% if entity.from %}
            <th valign="top">From:</th>
            <td valign="top">{% if entity.fromtype == "INTERNAL" %}{{ sakonnin_messages.getusernamefromuserid(entity.from) }}{% else %}{{ entity.from }}{% endif %}</td>
            <td>
{% elseif entity.createdby %}
            <th valign="top">From:</th>
            <td valign="top">{{ entity.createdby }}</td>
            <td>
{% else %}
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
{% endif %}
        </tr>
{% if entity.to %}
        <tr>
            <th valign="top">To:</th>
            <td valign="top">{% if entity.totype == "INTERNAL" %}{{ sakonnin_messages.getusernamefromuserid(entity.to) }}{% else %}{{ entity.to }}{% endif %}</td>
        </tr>
{% endif %}
        <tr>
            <th valign="top">Time:</th>
            <td valign="top">{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i') }}{% endif %}</td>
        </tr>
          <tr>
            <th valign="top">Type:</th>
            <td valign="top">
                <a href="#" title="{{ entity.messagetype.description }}">{{ entity.messagetype }}</a>
            </td>
          </tr>
{% if entity.replies | length > 0 %}
          <tr>
            <th valign="top">Replies:</th>
            <td valign="top">
                {% for reply in entity.replies %}
                  <a href="{{ path('message_show', { 'message_id': reply.messageid }) }}">{{ reply.subject }}</a><br>
                {% endfor %}
            </td>
          </tr>
{% endif %}
  </table>
  </div>

  <div class="col-sm-6 ">
  {% if entity.basetype == 'CHECK' %}
    {# OK, are we checked or not? #}
    {% set checked = false %}
    {% set last_reply = entity.replies | last %}

    {% if last_reply %}
        {% if last_reply.state == "CHECKED" %}
            {% set checked = true %}
        {% else %}
            {% set checked = false %}
        {% endif %}
    {% endif %}
    {% if checked %}
      <span class="glyphicon glyphicon-check" title="Checked"></span> <em>{{ last_reply.createdAt | date('Y-m-d H:i') }} - {{ last_reply.createdBy }}</em>
    {% else %}
      <span class="glyphicon glyphicon-unchecked" title="Unchecked"></span>
    {% endif %}
    <br>
  {% endif %}
{# Pretty dangerous #}
{# TODO: Add markdown #}
{% if entity.contenttype == 'text/html' %}
{{ entity.body | raw }}
{% else %}
<pre class="messageText" wrap>
{{ entity.body }}
</pre>
{% endif %}

  </div>
  <div class="col-sm-1">
{% if is_granted('edit', entity) %}
<div class="d-none">
    {% set mdelform = sakonnin_messages.getCreateDeleteForm(entity, true) %}
    <form id="deletemessageform_{{ entity.messageid }}" onSubmit="return deleteSakonninMessage('{{ entity.messageid }}');">
    {{ form_rest(mdelform) }}
    <input id="delarchived_{{ entity.messageid }}" type="submit">
    </form>
</div>
    <div class="dropdown">
      <button class="glyphicon glyphicon-menu-hamburger" type="button" data-toggle="dropdown">
      <span></span>
      </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#" onClick="return grabEditSakonninMessageForm('{{ entity.messageid }}');">Edit</a>
        <a class="dropdown-item" href="#" onClick="return $('#delarchived_{{ entity.messageid }}').click();">Delete</a>
    {# The option to de-archive an entity. Not really sure it makes sense to have at all. #}
    {% if entity.state == "ARCHIVED" %}
        <a class="dropdown-item" href="#" onClick="return setStateOnSakonninMessage('{{ entity.messageid }}', '{{ entity.firststate }}', true);">Unarchive</a>
    {% endif %}
    </div>
  </div>
{% endif %}
 </div>

</div>
</div>
