{% extends 'BisonLabSakonninBundle::base.html.twig' %}

{% block body -%}
    <h1>Message list</h1>

    <table class="records_list" id="sortable_table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>From</th>
                <th>To</th>
                <th>Message Id</th>
                <th>Message Type</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% if not entity.inreplyto %}
            <tr>
                <td>{{ entity.subject }}
                {% if entity.replies %}
                {% for reply in entity.replies %}
                  <br />reply:<a href="{{ path('message_show', { 'id': reply.id }) }}">{{ reply.subject }}</a>
                {% endfor %}
                {% endif %}
                </td>
                <td>{% if entity.fromtype == "INTERNAL" %}{{ sakonnin.getusernamefromuserid(entity.from) }}{% else %}{{ entity.from }}{% endif %}</td>
                <td>{% if entity.totype == "INTERNAL" %}{{ sakonnin.getusernamefromuserid(entity.to) }}{% else %}{{ entity.to }}{% endif %}</td>
                <td><a href="{{ path('message_show', { 'id': entity.id }) }}">{{ entity.messageid }}</a></td>
                <td>{{ entity.messagetype.parent }} - {{ entity.messagetype }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('message_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
