{% extends '@BisonLabSakonnin/base.html.twig' %}

{% block body -%}
<script>
$(document).ready(function() {
    $('#message_list').DataTable( {
        "pageLength": 200,
        "order": [[ 6, "desc" ]],
        "lengthMenu": [[ 50, 100, 200, 500 -1], [50, 100, 200, 500, "All"]]
    } );
} );
</script>

    <h1>Messages</h1>
    <table id="message_list" class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th>Subject</th>
                <th>From</th>
                <th>To</th>
                <th>State</th>
                <th>Message Id</th>
                <th>Message Type</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
{% if entities is not defined and data is defined %}
{% set entities = data %}
{% endif %}
        {% for entity in entities %}
          {% if is_granted('show', entity) and not entity.inreplyto %}
            <tr>
                <td>{{ entity.subject }}
                {% if entity.replies %}
                {% for reply in entity.replies %}
                  <br />reply:<a href="{{ path('message_show', { 'message_id': reply.messageid }) }}">{{ reply.subject }}</a>
                {% endfor %}
                {% endif %}
                </td>
                <td>{% if entity.fromtype == "INTERNAL" %}{{ sakonnin_messages.getusernamefromuserid(entity.from) }}{% else %}{{ entity.from }}{% endif %}</td>
                <td>{% if entity.totype == "INTERNAL" %}{{ sakonnin_messages.getusernamefromuserid(entity.to) }}{% else %}{{ entity.to }}{% endif %}</td>
                <td>{{ entity.state }}</td>
                <td><a href="{{ path('message_show', { 'message_id': entity.messageid }) }}">{{ entity.messageid }}</a></td>
                <td>{{ entity.messagetype.parent }} - {{ entity.messagetype }} ({{ entity.messagetype.description }})</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('message_show', { 'message_id': entity.messageid }) }}">Show</a>
                    </li>
                    {% if is_granted('edit', entity) %}
                    <li>
                    <a href="#" onClick="return grabEditSakonninMessageForm('{{ entity.messageid }}');">Edit</a>
                    {% endif %}
                    </li>
                </ul>
                </td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <li>
        <a href="{{ path('message_new') }}">Create a new message</a>
    </li>
    {% endblock %}
