{% extends '@BisonLabSakonnin/base.html.twig' %}

{% block body -%}
    <h1>Messages</h1>
    <table id="message_list" class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th>Subject</th>
                <th>From</th>
                <th>To</th>
                <th>State</th>
                <th>Message Id</th>
                <th>Message Type</th>
                <th>Createdat</th>
                <th class="no-sort">Actions</th>
                <th class="no-sort selectcol"></th>
            </tr>
        </thead>
        <tbody>
{% if entities is not defined and data is defined %}
{% set entities = data %}
{% endif %}
        {% for entity in entities %}
          {% if is_granted('show', entity) and not entity.inreplyto %}
            <tr>
                <td>{{ entity.subject }}
                {% if entity.replies %}
                {% for reply in entity.replies %}
                  <br />reply:<a href="{{ path('message_show', { 'message_id': reply.messageid }) }}">{{ reply.subject }}</a>
                {% endfor %}
                {% endif %}
                </td>
                <td>{% if entity.fromtype == "INTERNAL" %}{{ sakonnin_messages.getusernamefromuserid(entity.from) }}{% else %}{{ entity.from }}{% endif %}</td>
                <td>{% if entity.totype == "INTERNAL" %}{{ sakonnin_messages.getusernamefromuserid(entity.to) }}{% else %}{{ entity.to }}{% endif %}</td>
                <td>{{ entity.state }}</td>
                <td><a href="{{ path('message_show', { 'message_id': entity.messageid }) }}">{{ entity.messageid }}</a></td>
                <td>{{ entity.messagetype.parent }} - {{ entity.messagetype }} ({{ entity.messagetype.description }})</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('message_show', { 'message_id': entity.messageid }) }}">Show</a>
                    </li>
                    {% if is_granted('edit', entity) %}
                    <li>
                    <a href="#" onClick="return grabEditSakonninMessageForm('{{ entity.messageid }}');">Edit</a>
                    </li>
                    {% endif %}
                    {% if is_granted('delete', entity) %}
<div class="d-none">
    {% set mdelform = sakonnin_messages.getCreateDeleteForm(entity, true) %}
    <form id="deletemessageform_{{ entity.messageid }}" onSubmit="return deleteSakonninMessage('{{ entity.messageid }}');">
    {{ form_rest(mdelform) }}
    <input id="delarchived_{{ entity.messageid }}" type="submit">
    </form>
</div>
                    <li>
                        <a href="#" onClick='return $("#delarchived_{{ entity.messageid }}").click();'>Delete</a>
                    </li>
                    {% endif %}
                </ul>
                </td>
                <td class="message_list_select"> {{ entity.messageid }} </td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <li>
    </li>
<div class="row">
<div class="col-sm-3">
    <a href="{{ path('message_new') }}">Create a new message</a>
  </div>
  <div class="col-sm-6">
  </div>
  <div class="col-sm-3" align="right">
    <form id="message_list_form" method="POST">
      <input class="btn-primary btn" id="deletemessages" type="submit" name="submit" value="Delete"><br>
      <input class="btn-primary btn" id="archivemessages" type="submit" name="submit" value="Archive"><br>
    </form>
  </div>
</div>


<script>
$(document).ready(function() {

    var selectable_table = $('#message_list').DataTable( {
        "pageLength": 200,
        "order": [[ 6, "desc" ]],
        "lengthMenu": [[ 50, 100, 200, 500 -1], [50, 100, 200, 500, "All"]],
        "columnDefs": [{
            "targets": 'no-sort',
            "orderable": false
          },{
            "targets": 'selectcol',
            "orderable": false,
            "checkboxes": true
        }]
    });

    $('#message_list_form').on('submit', function(eventObj) {

        var $btn = $(document.activeElement);
        var form = this;

        var rows_selected = selectable_table.column('.selectcol').checkboxes.selected();

console.log($btn);
console.log(rows_selected);
console.log(form);

        // Iterate over all selected checkboxes
        $.each(rows_selected, function(index, rowId){
             // Create a hidden element
             $(form).append(
                 $('<input>')
                    .attr('type', 'hidden')
                    .attr('name', 'message_list[]')
                    .val(rowId)
             );
        });
        if ($btn.is('[id]') && $btn.attr("id") == "archivemessages") {
            $(form).attr('action', "{{ path('message_messages') }}");
            $(form).attr('method', 'POST');
            $(form).append(
                $('<input>')
                    .attr('type', 'hidden')
                    .attr('name', 'state')
                    .val('ARCHIVE')
            );
            return;
        }
        if ($btn.is('[id]') && $btn.attr("id") == "deletemessages") {
console.log("Skal lissom slette");
            $(form).attr('action', "{{ path('message_messages') }}");
            $(form).attr('method', 'DELETE');
            return;
        }

    });
});

</script>

{% endblock %}
