{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Message list</h1>

    <table class="records_list" id="sortable_table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>From</th>
                <th>To</th>
                <th>Message Id</th>
                <th>Message Type</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.subject }}
                {% if entity.replies %}
                {% for reply in entity.replies %}
                  <br />Reply:<a href="{{ path('message_show', { 'id': reply.id }) }}">{{ reply.subject }}</a>
                {% endfor %}
                {% endif %}
                </td>
                <td>{{ entity.from }}</td>
                <td>{{ entity.to }}</td>
                <td><a href="{{ path('message_show', { 'id': entity.id }) }}">{{ entity.messageid }}</a></td>
                <td>{{ entity.messagetype.parent }} - {{ entity.messagetype }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('message_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
