{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Message</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Message_id</th>
                <td>{{ entity.messageid }}</td>
            </tr>
            <tr>
                <th>From</th>
                <td>{{ entity.from }}</td>
            </tr>
            <tr>
                <th>To</th>
                <td>{{ entity.to }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ entity.subject }}</td>
            </tr>
            <tr>
                <th>Contenttype</th>
                <td>{{ entity.contenttype }}</td>
            </tr>
            <tr>
                <th>Header</th>
                <td>{{ entity.header }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ entity.body }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ entity.createdBy }}</td>
            </tr>
            <tr>
                <th>Updatedby</th>
                <td>{{ entity.updatedBy }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('message') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
